body {
  background-color: #f0eff2;
}

.list-container {
  max-width: 900px;
  margin: 90px auto;
  padding-bottom: 60px;
  font-family: 'Inter', sans-serif;
}

.title {
  align-items: center;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 43px;
  padding-left: 30px;
}

.title::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  width: 40px;
  height: 8px;
  background-color: #000000;
  transform: rotate(90deg);
}

.day-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  width: 900px;
  height: 60px;
  margin: 30px auto;
  padding: 0 25px;
}

.day-btn {
  display: flex;
  align-items: center;
  color: #737373;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.15em;
  text-decoration: none;
  gap: 7px;
}

.arrow-icon {
  width: 20px;
  height: 15px;
  opacity: 0.3;
}

.right-arrow {
  transform: rotate(180deg);
}

.day-center {
  display: flex;
  align-items: center;
  gap: 11px;
}

.calendar-icon {
  width: 25px;
  height: 25px;
}

.day-display {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.attendance-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.attendance-table thead {
  background-color: #ffffff;
  border-bottom: 3px solid #E1E1E1;
}

.attendance-table th {
  color: #737373;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 0.15em;
}

.attendance-table td {
  color: #737373;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.20em;
  padding: 10px 0;
  border-bottom: 2px solid #E1E1E1;
}

.attendance-table th:nth-child(1),
.attendance-table td:nth-child(1) {
  width: 20%;
  text-align: center;
}

.attendance-table th:nth-child(2),
.attendance-table td:nth-child(2),
.attendance-table th:nth-child(3),
.attendance-table td:nth-child(3),
.attendance-table th:nth-child(4),
.attendance-table td:nth-child(4),
.attendance-table th:nth-child(5),
.attendance-table td:nth-child(5) {
  width: 15%;
  text-align: center;
  padding-left: 45px;
}

.attendance-table th:nth-child(6),
.attendance-table td:nth-child(6) {
  width: 20%;
  text-align: center;
}

.detail-btn {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.15em;
}

.attendance-table tr:last-child td {
  border-bottom: none;
}
