body {
  background-color: #F0EFF2;
}

.attendance-container {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
  padding: 209px 0;
}

.status-tag {
  display: inline-block;
  background-color: #C8C8C8;
  color: #696969;
  font-weight: 700;
  font-size: 18px;
  border-radius: 50px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 32px;
}

.date-text {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #000000;
  margin-bottom: 32px;
}

.time-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #000000;
  margin-bottom: 90px;
}

.button-area {
  display: flex;
  justify-content: center;
  gap: 82px;
}

.btn {
  width: 221px;
  height: 77px;
  font-size: 32px;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.black-btn {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
}

.black-btn:hover {
  background-color: #333333;
}

.white-btn {
  background-color: #FFFFFF;
  color: #000000;
}

.white-btn:hover {
  background-color: #EAEAEA;
}

.thanks-text {
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  margin-top: 15px;
}
