.auth {
  width: 100%;
  max-width: 680px;
  /* height: auto; */
  /* min-height: calc(100vh - 80px); */
  margin: 70px auto;
  /* padding: 40px 20px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* box-sizing: border-box; */
}

.auth__title {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 72px;
  color: #000000;
}

/* .auth--login .auth__title {
  margin-top: 20px;
} */

.auth__form {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.auth__group {
  margin-bottom: 69px;
}

.auth__label {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.auth__group input {
  width: 100%;
  height: 60px;
  padding: 0 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 23px;
  color: #000000;
  box-sizing: border-box;
}

.btn--auth {
  display: block;
  width: 100%;
  height: 60px;
  background: #000000;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 105px;
}

.btn--auth:hover {
  opacity: 0.9;
}

.auth__link {
  text-align: center;
  /* margin-top: 25px; */
}

.auth__link a {
  font-size: 20px;
  color: #0073CC;
  text-decoration: none;
}

.auth__link a:hover {
  text-decoration: underline;
}

.error {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #FF5555;
  display: block;
}