.auth {
  width: 100%;
  max-width: 680px;
  margin: 41px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__title {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
  color: #000000;
}

.auth__form {
  width: 100%;
}

.auth__label {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.auth__group input {
  width: 100%;
  height: 45px;
  padding: 0 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 23px;
  color: #000000;
  box-sizing: border-box;
}

.auth--register .auth__group {
  margin-bottom: 50px;
}

.btn--auth {
  display: block;
  width: 100%;
  height: 60px;
  background: #000000;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 93px;
  text-align: center;
}

.btn--auth:hover {
  opacity: 0.9;
}

.auth__link {
  text-align: center;
  margin-top: 20px;
}

.auth__link a {
  font-size: 20px;
  font-weight: 400;
  color: #0073CC;
  text-decoration: none;
}

.auth__link a:hover {
  text-decoration: underline;
}

.error {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #FF5555;
  display: block;
}
